title = "mua bán đồng hồ cổ"
url = "/mua-ban-dong-ho-co"
layout = "nhakholayout"
description = "Trang mua bán trao đổi"
is_hidden = 0

[products]
pageNumber = "{{ :page }}"
productsPerPage = 20
noProductsMessage = "No products found"
sortOrder = "updated_at-desc"
promote = 0
==
<div class="section section-services section-pad">
	    <div class="container">
	        <div class="content row">
				
	        	<!-- Feature Row  -->
				<div class="row row-feature row-column mt-x5">

					{% for product in products %}

			
					<div class="col-md-3 col-sm-4" style="height: 650px;overflow: hidden;">
						<!-- feature box -->
						<div class="feature boxed feature-s6" style="position:absolute;
    bottom:0;">
							<a href="san-pham/{{product.slug}}">
								<div class="fbox-photo">
									{% if product.images.count %}
									{% for image in product.images|slice(0, 1) %}
									<img data-src="{{ image.filename }}"
									src="{{ image.path }}"
									title="{{ product.title }}"
									alt="{{ product.title }}"/>
									{% endfor %}
									{% else %}

									<img src="{{ 'assets/nhakho/image/logo.png'|theme }}" title="{{ product.title }}" alt="{{ product.title }}"/>
									{% endif %}
								</div>
							
							<div class="fbox-content">
								<h3>{{product.title}}</h3>
								<div>Ngày đăng: {{ product.created_at|date('d/m/Y') }}</div>
								
								<div>Giá bán:<i class="price"><b>{{product.price}}</b> (Đồng)</i></div>
								<div>Danh mục:
								{% for category in product.categories %}
										<a href="{{ category.url }}">{{ category.title }}</a>
										{% if not loop.last %},
										{% endif %}
										{% endfor %}
								</div>		
								<p>{{ product.description|striptags[:85] ~ '...' }}</p>
								<p style="float: right;"><a href="san-pham/{{product.slug}}" class="btn-link link-arrow-sm">Xem chi tiết</a></p>
							</div>
							</a>
						</div>
						<!-- End Feature box -->
					</div>



		

								{% endfor %}



					
				</div>
	        </div>
	    </div>
	</div>