title = "san-pham"
url = "/san-pham/:slug"
layout = "nhakholayout"
description = "Trang mô tả chi tiết sản phẩm"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[product]
productSlug = "{{ :slug }}"
==
<!-- Content -->
<script>
	var thisPage = "";
	var imagesArray = new Array();
</script>
<div class="section section-blog section-pad">
	<div class="container">
		<div class="content row">
			<div class="col-md-8 res-m-bttm">
				<h3 style="display: initial;">
								{{product.name}}
								</h3>
								<div class="clear"></div>
								<div class="col-md-2">
									<img src="{{product.main_image.path}}">
									</div>
								<div class="col-md-5">
								<i class="fas fa-calendar-alt"></i>Ngày đăng: {{ product.created_at|date('d/m/Y') }}
								</div>		
								<div class="col-md-5">
								<i class="fas fa-money-bill-wave"></i>Giá bán:{{ product.price[0].price|number_format(0, ',', '.') }}</b> ({{product.price[0].currency}})</i>
								</div>
								{% if product.user_defined_id %}
								<div class="col-md-5">
								<i class="fas fa-barcode"></i>Mã sản phẩm: {{product.user_defined_id}}
								</div>
								{% endif %}
                                 {% if product.xuatxu %}
								<div class="col-md-5">
								<i class="fas fa-globe-americas"></i>Xuất xứ: {{product.xuatxu}}
								</div>
								{% endif %}
								{% if product.thuonghieu %}
								<div class="col-md-5">
								<i class="fas fa-hourglass-start"></i>Thương hiệu: {{product.thuonghieu}}
								</div>
								{% endif %}
								
								{% if product.categories.count %}
								<div class="col-md-5"><i class="fas fa-sitemap"></i>Thể loại:
								{% for category in product.categories%}			
									<a href="{{ category.url }}">{{ category.name }}</a>
									{% if not loop.last %},
									{% endif %}
								{% endfor %}
								</div>
								{% endif %}
								
								<div class="product-details">{{ product.description|raw}}</div>
								
									{% if product.images.count %}
									{% for image in product.images %}
									<script>
										imagesArray.push("{{image.path}}");
        							</script>
									{% endfor %}
									{% endif %}
									<div id="gallery{{product.id}}"></div>
									{% if product.video %}
										
										<iframe width="100%" height="360" src="{{str_replace_first('youtu.be', 'www.youtube.com/embed', product.video)}}?rel=0&amp;autoplay=1" frameborder="0" allowfullscreen></iframe>

								 {% endif %}									
								 <div class="clear"></div>
								 
			</div>
			<div class="col-md-4">
				<div class="sidebar-right">
					<div class="wgs-box wgs-search">
						<div class="wgs-content">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Search...">
								<button class="search-btn"><i class="fa fa-search" aria-hidden="true"></i></button>
							</div>
						</div>
					</div>
					<div class="wgs-box wgs-recents">
						<h3 class="wgs-heading">Recent Posts</h3>
						<div class="wgs-content">
							<ul class="blog-recent">
								{% for product in products %}
								<li>
									<a href="san-pham/{{product.slug}}">
										{% if product.images.count %}
										{% for image in product.images|slice(0, 1) %}
										<img data-src="{{ image.filename }}"
										src="{{ image.path }}"
										title="{{ product.title }}"
										alt="{{ product.title }}"/>
										{% endfor %}
										{% else %}
										<img src="{{ 'assets/nhakho/image/logo.png'|theme }}" title="{{ product.title }}" alt="{{ product.title }}"/>
										{% endif %}
										<h2 class="products-title-list">{{product.title}}</h2>
										{% for category in product.categories %}
										<a href="{{ category.url }}">{{ category.title }}</a>
										{% if not loop.last %},
										{% endif %}
										{% endfor %}
										<p>{{ product.excerpt|striptags[:100] ~ '...' }}</p>
									</a>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
<script>
            $(function() {
  					$('#gallery{{product.id}}').imagesGrid({
                    	images: imagesArray,align: true
                	});
                
            });
    </script>