title = "san-pham"
url = "/san-pham/:slug"
layout = "nhakholayout"
description = "Trang mô tả chi tiết sản phẩm"
is_hidden = 0

[product]
slug = "{{ :slug }}"

[products]
pageNumber = "{{ :page }}"
productsPerPage = 10
noProductsMessage = "No products found"
sortOrder = "created_at desc"
bieu="Bieu la toi"
==
<!-- Content -->
<div class="section section-blog section-pad">
	<div class="container">
		<div class="content row">
			<div class="col-md-8 res-m-bttm">
				<h2>{{product.title}}</h2>
				<i class="price">{{product.price}}</i>
				<i class="price">{{product.xuatxu}}</i>
				<div class="row">
					<!-- Gallery -->
					<div class="gallery gallery-col4 gallery-filled gallery-lightbox hover-zoom">
						<ul class="gallery-list">
							{%if product.video%}
						{%set url=product.video |replace({'youtu.be': 'youtube.com/embed'})%}
<li><iframe width="100%"
src="{{url}}">
</iframe>
</li>
				{%endif%}


							{% if product.images.count %}
							{% for image in product.images %}
							<li>
								<a href="{{ image.path }}">
									<div class="gallery-item"><img src="{{ image.path }}" alt="{{ image.filename }}"></div>
								</a>
							</li>
							{% endfor %}
							{% else %}
							{% endif %}
						</ul>
				</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="sidebar-right">
					<div class="wgs-box wgs-search">
						<div class="wgs-content">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Search...">
								<button class="search-btn"><i class="fa fa-search" aria-hidden="true"></i></button>
							</div>
						</div>
					</div>
					<div class="wgs-box wgs-recents">
						<h3 class="wgs-heading">Recent Posts</h3>
						<div class="wgs-content">
							<ul class="blog-recent">
								{% for product in products %}
								<li>
									<a href="san-pham/{{product.slug}}">
										{% if product.images.count %}
										{% for image in product.images|slice(0, 1) %}
										<img data-src="{{ image.filename }}"
										src="{{ image.path }}"
										title="{{ product.title }}"
										alt="{{ product.title }}"/>
										{% endfor %}
										{% else %}
										<img src="{{ 'assets/nhakho/image/logo.png'|theme }}" title="{{ product.title }}" alt="{{ product.title }}"/>
										{% endif %}
										<h2 class="products-title-list">{{product.title}}</h2>
										{% for category in product.categories %}
										<a href="{{ category.url }}">{{ category.title }}</a>
										{% if not loop.last %},
										{% endif %}
										{% endfor %}
										<p>{{ product.excerpt|striptags[:100] ~ '...' }}</p>
									</a>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>		
