[viewBag]

[categories]
slug = "{{ :slug }}"
displayEmpty = 1
==
<!-- Navbar -->
<div class="navbar navbar-primary">
	<div class="container">
		<!-- Logo -->
		<!-- Logo -->
		<a class="navbar-brand" href="{{ url('/') }}">
			<img class="logo logo-dark" alt="" src="{{ 'assets/nhakho/image/logo.png'|theme }}" srcset="{{ 'assets/nhakho/image/logo2x.png'|theme }} 2x">
			<img class="logo logo-light" alt="" src="{{ 'assets/nhakho/image/logo-white.png'|theme }}" srcset="{{ 'assets/nhakho/image/logo2x.png'|theme }} 2x">
		</a>
		<!-- #end Logo -->
		<!-- HeaderTop -->
		<div class="header-top">
			<ul class="top-contact">
				<li class="t-phone t-phone1 t-phone-s2">
					<span><em class="color-secondary"><i class="far fa-compass"></i>Số 1 ngách 65 ngõ 217 đường Trần Phú,Q. Hà Đông, Hà Nội</em><span style="display:inline-block;"><i class="fas fa-phone-volume"></i>0888.001.500</span></span>
				</li>
				<li class="quote-btn">

					<a href="https://www.facebook.com/donghocotreotuong/" class="btn" target="_blank">
						<i class="fa fab fa-facebook-square" style="background: white;
						color: #4366b2;"></i>
					Chuyển sang trang Facebook</a></li>
				</ul>
			</div>
			<!-- #end HeaderTop -->
			<!-- NavBar Trigger -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainnav"
				aria-expanded="false">
				<span class="sr-only">Menu</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<!-- Q-Button for Mobile -->		
			<div class="quote-btn">
			<a class="btn" href="fb://myfacepage/page/1804960209744498" target="_blank" rel="alternate">Chuyển sang Facebook</a></p>
		</div>
		<!-- #end Trigger -->
		<!-- MainNav -->
		<nav class="navbar-collapse collapse" id="mainnav">
			<ul class="nav navbar-nav" style="margin: 0;">
				<li><a href="{{ url('/') }}">Trang chủ</a></li>
				<li><a href="{{ url('gioi-thieu-dong-ho-nha-kho') }}">Giới thiệu Nhà kho</a></li>
				<li>
					<a href="{{ url('mua-ban-dong-ho-co') }}">Góc mua bán trao đổi</a>
					<ul>
						{%for category in categories%}
						<li><a href="about.html">Đồng hồ treo tường</a></li>
						{%endfor%}
					</ul>
				</li>
				<li><a href="sua-chua-dong-ho-co">Cẩm nang, kinh nghiệm</a></li>
				<li><a href="lien-he">Liên hệ</a></li>
			</ul>
		</nav>
		<!-- #end Navbar -->
	</div>	
</div>
{% for category in categories %}
Hoang van bieu
    {% set productCount = category.product_count %}
    <li {% if category.slug == currentCategorySlug %}class="active"{% endif %}>
        <a href="{{ category.url }}">{{ category.title }}</a>
        {% if productCount %}
            <span class="badge">{{ productCount }}</span>
        {% endif %}

        {% if category.children.count %}
            <ul>
                {% partial __SELF__ ~ "::items"
                    categories=category.children
                    currentCategorySlug=currentCategorySlug
                %}
            </ul>
        {% endif %}
    </li>
{% endfor %}