<!-- Logo -->
<a class="navbar-brand" href="index.html">
	<img class="logo logo-dark" alt="" src="{{ 'assets/nhakho/image/logo.png'|theme }}" srcset="{{ 'assets/nhakho/image/logo2x.png'|theme }} 2x">
	<img class="logo logo-light" alt="" src="{{ 'assets/nhakho/image/logo-white.png'|theme }}" srcset="{{ 'assets/nhakho/image/logo2x.png'|theme }} 2x">
</a>
<!-- #end Logo -->
<!-- HeaderTop -->
<div class="header-top">
	<ul class="top-contact">
		<li class="t-phone t-phone1 t-phone-s2">
			<span><small><em class="color-secondary">24/7</em> HOTLINE tư vấn</small> <em class="fa fa-phone" aria-hidden="true"></em> <a href="news.html#">0888-001-500</a></span>
		</li>
		<li class="t-phone t-phone1 t-phone-s2">
			<span><small>Hỗ trợ kỹ thuật</small> <em class="fa fa-phone" aria-hidden="true"></em> <a href="news.html#">0886-509-500</a></span>
		</li>
		<li class="quote-btn">

			<a href="https://www.facebook.com/donghocotreotuong/" class="btn">
				<i class="fa fab fa-facebook-square" style="background: white;
				color: #4366b2;"></i>
			Chuyển sang trang Facebook</a></li>
		</ul>
	</div>
	<!-- #end HeaderTop -->
	<!-- NavBar Trigger -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainnav"
		aria-expanded="false">
		<span class="sr-only">Menu</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<!-- Q-Button for Mobile -->
	<div class="quote-btn"><a class="btn" href="request-service.html"><span>Request Service</span></a></div>
</div>
<!-- #end Trigger -->
<!-- MainNav -->
<nav class="navbar-collapse collapse" id="mainnav">
	<ul class="nav navbar-nav">
		<li><a href="index.html">Trang chủ</a></li>
		<li><a href="{{ 'nhakho/gioi-thieu'|page }}">Giới thiệu Nhà kho</a></li>
		<li>
			<a href="news.html#">Dịch vụ sửa chữa</a>
			<ul>
				<li><a href="news.html#">Lau dầu, Bảo dưỡng đồng hồ</a>
					<ul>
						<li><a href="about.html">Bảo dưỡng đồng hồ treo tường</a></li>
						<li><a href="about-modern.html">Bảo dưỡng vai bò, tạ lê</a></li>
						<li><a href="teams.html">Bảo dưỡng đồng hồ tủ đứng</a></li>
						<li><a href="faqs.html">Bảo dưỡng đồng hồ để bàn</a></li>
						<li><a href="testimonial.html">Bảo dưỡng loại đồng hồ khác</a></li>
					</ul>
				</li>
				<li><a href="news.html#">Sửa chữa, thay thế linh kiện</a>
					<ul>
						<li><a href="services.html">Sửa chữa</a></li>
						<li><a href="services-alter.html">Thay thế linh kiện</a></li>
						<li><a href="services-modern.html">Phục chế đồng hồ</a></li>
					</ul>
				</li>
				<li><a href="news.html#">Bán linh kiện đồng hồ</a></li>
				<li><a href="news.html#">Bán vỏ và phụ kiện</a></li>
			</ul>
		</li>
		<li>
			<a href="about.html">Góc mua bán trao đổi</a>
			<ul>
				<li><a href="about.html">Đồng hồ treo tường</a></li>
				<li><a href="about-modern.html">Đồng hồ để bàn</a></li>
				<li><a href="teams.html">Vai bò, tạ lê</a></li>
				<li><a href="testimonial.html">Đồng hồ tủ đứng</a></li>
				<li><a href="testimonial.html">Các loại khác</a></li>
			</ul>
		</li>
		<li><a href="service.html">Góc chia sẻ kinh nghiệm</a></li>
		<li><a href="service-alter.html">Cẩm nang, kiến thức</a></li>
		<li><a href="contact.html">Liên hệ</a></li>
	</ul>
</nav>